/* *{
    margin: 0;
    padding: 0;
} */
/* external calling */
h2{
    color: red;
}
/* id */
#myfirstid{
    color: burlywood;
}
/* class */
.myfirstid{
    color: yellow;
}
/* <!-- Backgroun properties--> */

.backImg{
    width: 100%;
    height: 100vh;
    /* background-color: blueviolet; */
    background-image: url('image3.jpg');
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-size: 100% 100%;
    background-attachment: fixed;
}
.backImg1{
    width: 100%;
    height: 100vh;
    /* background-color: blueviolet; */
    background-image: url('image2.jpg');
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-size: 100% 100%;
    background-attachment: fixed;
}
/* <!-- font in css --> */

#fontCSS{
    font-family: 'Itim', cursive;
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
font-variant: small-caps;
font-size: 2em; /* 1em = 16px */
font-style: italic;
font-weight: 900 ; /* bold / lighter / 100  to 900*/
}
/* text in css */
#textCSS{
    font-family: 'Itim', cursive;
    color: red;
    letter-spacing: 2px;
    word-spacing: 5px;
    direction: ltr;  /* direction: rtl; */
    text-indent: 100px;
    text-align: center;
    text-transform: uppercase; /* lowercase*/
}
/* link in css */
a:link{
    color: red;
}
/*  visited link */
a:visited{
    color: green;
}
/* mouse over link */
a:hover{
    color: yellow;
}
/* selected link */
a:active{
    color: blue;
}
/* Boreder in css */
.borderCSS{
    width: 1500px;
    height: 20px;
    background-color: red;
    border-width: 5px;
    border-color: black;
    border-style: solid; /*doted,dashed */
    border: 5px solid black;
    border-radius: 50px;
}
ul{
    list-style-type: square; /*circle,disc,symbol*/
}
ol{
    list-style-type: lower-alpha ;
    /* list-style-type: upper-alpha ;
    list-style-type: lower-roman ;
    list-style-type: upper-roman;   */
}
/* box Model */
.boxmodel{
    width: 400px;
    height: 100px;
    background-color:   black;
    color: white;
}
input{
    /* padding: 5px(top) 5px(right) 5px(bottom) 5px(left);*/
    /* padding: 5px */
    padding-left: 20px ;
    /* padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;*/
    margin: 10px;
    /*margin-top: 50px;
    margin-left: 20px; */
}
/* scrollbar // Overflow  */
p{
    width: 200px;
    height: 100px;
    border: 2px solid red;
    /* overflow: hidden; */
    overflow: scroll;
    /* overflow: auto; */
}
/* Positioning in CSS */
.father{
    width: 600px;
    height: 300px;
    background-color: red;
    position: relative;
}
.child1{
    width: 100px;
    height: 60px;
    background-color: green;
    position: absolute;
    left: 0;
}
.child2{
    width: 100px;
    height: 60px;
    background-color: yellow;
    position: absolute;
    right: 0;
}
.child3{
    width: 100px;
    height: 60px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    right: 0;
}
.child4{
    width: 100px;
    height: 60px;
    background-color: pink;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* Z index */
.father1{
    width: 600px;
    height: 300px;
    background-color: red;
    
}
.child5{
    width: 100px;
    height: 60px;
    background-color: green;
    z-index: 1;
}
.child6{
    width: 100px;
    height: 60px;
    background-color: yellow;
    z-index: 2;
}
/* CSS float // CSS Display */
.header{
    width: 100%;
    height: 80px;
    background-color: black;
}
.logo{
    width: 30%;
    line-height: 80px;
    text-align: center;
    background-color: orange;
    float: left;
}
.menu{
    width: 70%;
    line-height: 80px;
    background-color: red ;
    float: right;
}
ul{
    list-style: none ;
    text-align: right;
}
li{
    display: inline-block;
    /* border: 1px solid black; */
    padding: 0 10px;
}